$light-grey : rgb(27, 27, 27);
$black-color:black;
$green-color:rgb(29, 181, 29);
$white-color:rgb(224, 224, 224);
$border-radius:10rem;
$pure-white:white;
$navy-blue-color:rgb(7, 79, 147) ;
$lightest-grey-color: rgb(149, 149, 149);
$red-color:red;

