@import "variables";
.wrapper {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 20rem 1fr;
  background-color: $black-color;
  gap: 8px;
  padding: 0.5rem;
  position: relative;
  .sidebar{
    display: flex;
    flex-direction: column;
    gap: .5rem;

  }
  .navbar{
    position: fixed;
    left :24%;

  }
  * {
    border-radius: 5px;
  }
}
