@import "variables";
.wrapper {
  color: $white-color;
  margin-top: 8rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  .playlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    grid-auto-rows: 13rem;
  }
  .addSong {
    background-color: $green-color;
    padding: 1rem;
    button {
      padding: 1rem 1.2rem;
      border-radius: 1.5rem;
    }
  }
}
