@import "variables";
.wrapper{
  margin-top: 10rem;
  margin-left: 1rem;
  color:$white-color;
  .playlist {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    grid-auto-rows: 13rem;
  }
}