// @import "variables";
.wrapper{
  color: white;
  .inp{
    background-color: orange;
    color:red
  }
  // .divi{
  //   background-color: orange;
  //   color:red
  // }

}
.divi{
    background-color: orange;
    color:red
  }